{:deps {org.clojure/clojure {:mvn/version "1.11.2"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        lambdaisland/deep-diff2 {:mvn/version "2.11.216"}
        thheller/shadow-cljs {:mvn/version "2.28.10"}}
 :path ["src"]}
